/* MARK: CONFIGURAÇÕES GLOBAIS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #fff;
    height: 100vh;
}


h1{
    color: #F5F5F5;
    font-size: 38px;
    text-align: center;
}


h2{
    color: #7233a6;
    font-size: 38px;
    text-align: center;
}


p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.topo p {
    padding: 0px 12px;
    text-align: center;
    font-weight: 300;

}


.flex{
    display: flex;
}

.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    justify-items: center;
    padding: 16px ;
    background-image: 
        linear-gradient(180deg, #f5f5f5ce 10%, rgba(156, 55, 74, 0.888)),
        url('imagens/back.PNG'); 
    background-size:auto; 
    background-position: center;
    border-radius: 8px;
    margin: 0 auto;
    height: 100vh;
}


img {
    width: 140px;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0px 2px 2px 1px  #F5F5F5;

}

.titulo {
    font-size: 30px;
    color: #000;
    padding: 8px;
    margin-bottom: 8px;

}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.btn-contato {
    padding: 4px;
}

.btn-contato button{
    width: 280px;
    padding: 10px 10px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    background-color: #F5F5F5;
    border: 1px solid #9c3749; 
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


.btn-contato:hover button{
    background-color: #9c3749; 
    color: #F5F5F5;
    border: 1px solid #F5F5F5; 
}

.btn-contato i {
    font-size: 28px;
    color: #00bb2d;
    margin-right: 12px;
}

.btn-contato .bi-globe {
    font-size: 28px;
    color: #059def;
    margin-right: 12px;
}

.redes-sociais i{
    color: #010002;
    font-size: 30px;
    
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

.redes-sociais button{
    background-color: #fff;
    width: 42px;
    height: auto;
    border-radius: 8px;
    border: none;
    margin-right: 6px;
    cursor: pointer;
}

.redes-sociais button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.designer {
    text-align: center;
}

.designer a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}